<div class = "news-article">
	<div class = "news-article-img" style = "background-image: url('{{imageLink}}')">
	</div>
	<div class = "news-article-info">
		<h3><a href = "{{link}}" target = "_blank">{{title}}</a></h3>
		<p class = "author">By: {{author}}</p>
		<p class = "summary">{{summary}}</p>
		<button class = "unsave" article-id = "{{_id}}">Unsave</button>
		<button class = "comment" article-id = "{{_id}}">Comment</button> 
	</div>
</div>